img {
    width: 180px;
}
.IndexPage, .SearchResults {
    padding: 10px 30px;
    display: block;
    margin: auto;
    width: 400px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.IndexPage p, .SearchResults p {
    text-align: left;
}
.IndexPage input, .SearchResults input {
    -webkit-appearance: none;
    padding: 7px 8px;
    width: 90%;
    font-size: 14px;
    border: 1px solid grey;
}
@media only screen and (max-width: 500px) {
    .IndexPage, .SearchResults {
        padding: 10px 20px;
        width: 90%;
    }
}